<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="WpfBasicUsage.DAL.SqlServer" />
		<add key="DALFileAssembly" value="WpfBasicUsage.DAL.FileServer" />
		<add key="useFileSystem" value="false" />
	</appSettings>

	<connectionStrings>
		<add name="PostgresSQLConnectionString" connectionString="Server=127.0.0.1;Port=5432;Database=postgres;User Id=postgres;Password=password;" />
		<add name="StartFolderFilePath" connectionString="C:\Projekte\TestData" />
	</connectionStrings>
</configuration>